<div id="content">
  <% @posts.each do |post| %>
  <div class="post">
    <h2><%= post.title %></h2>
    <p><%= post.created_at.strftime('%Y.%m.%d').to_s %></p>
    <%= post.content.html_safe %>
  </div>
  <% end %>
</div>

<hr>

<div id="sidebar">
  <div class="section">
    <h3>关于</h3>
    <p>杨涛，Geek。喜欢互联网、旅行、阅读、锻炼、极简主义。</p>
  </div>
  <!-- <div class="section">
    <h3>分类</h3>
    <p></p>
  </div>
  <div class="section">
    <h3>搜索</h3>
  </div> -->
</div>

<hr>

<div id="footer">
  <p>Powered by Ruby on Rails, a theme by YangTao.</p>
</div>


