// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font: "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB", sans-serif;
  background-image: image-url("paper_fibers.png");
  background-repeat: repeat;
  background-position: top left;
  color: #333333;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover{
  color: #6699CC;
}

#wrapper {
  width: 878px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
  height: 1%;
}

#header-wrapper {
height: 1%;
clear: both;
}

#header {
  height: 255px;
  h1 {
    background: transparent image-url("guy.png") no-repeat center;
    height: 177px;
    a{
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-decoration: none;
    border: 0 none;
    height: 177px;
    width: 150px;
    text-indent: -9999em;
    }
  }
  h2 {
    margin-top: 0;
  }
}

#content {
  width: 530px;
  padding: 15px 0;
  float: left;
}

#sidebar {
  width: 250px;
  padding: 15px 20px;
  float: right;
  color: #666666;
  .section {
    margin: 0 0 40px 0;
    padding: 15px 0;
    background: transparent image-url("l.gif") no-repeat top left;
  }
  h1,h2,h3,h4,h5 {
    margin: 0 0 .9em 0;
    line-height: 1.4;
    text-transform: uppercase;
    color: #777777;
  }
  p {
    a {
      color: #666666;
    }
    a:hover{
      color: #6699CC;
    }
  }
}

#footer {
  padding: 10px 0;
  clear: both;
  font-size: 0.9em;
  font-family: Helvetica;
  color: #666666;
  p {
  text-align: center;
  }
}

hr {
  display: none;
}

.post {
  margin: 0 0 100px 0;
  height: 1%;
  .post-header{
      h2 {
        margin-bottom: 0;
        a:hover{
          color: #6699CC;
        }
    }
  }

  p {
    margin: 0 0 1.4em 0;
    line-height: 1.65;
  }
}

 #tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}